.u-section-1 .u-sheet-1 {
  min-height: 425px;
}

.u-section-1 .u-table-1 {
  margin: 69px auto 30px 0;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  background-image: none;
  font-size: 1.5rem;
  font-weight: 400;
}

.u-section-1 .u-table-footer-1 {
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-1 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1204px;
  }

  .u-section-1 .u-table-header-1 {
    font-size: 1rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 372px;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  margin: 56px 277px 0 auto;
}

.u-section-2 .u-table-1 {
  width: 345px;
  margin: 18px 56px 0 auto;
}

.u-section-2 .u-table-entity-1 {
  min-height: 100px;
}

.u-block-7dc5-4 {
  background-image: none;
}

.u-section-2 .u-table-cell-3 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-4 {
  font-weight: 700;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 1.25rem;
  margin: 18px 95px 60px auto;
  padding: 9px 30px 11px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 212px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 159px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: 100px;
  }

  .u-section-2 .u-table-1 {
    width: 340px;
    margin-right: 0;
  }
}