.u-section-1 .u-sheet-1 {
  min-height: 1691px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin: 42px auto 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 34px;
  margin-bottom: 0;
  height: auto;
  min-height: 517px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 517px;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-1 .u-image-1 {
  height: 296px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-2 {
  margin: 15px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  margin: 25px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 25px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-1 .u-image-2 {
  height: 296px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-4 {
  margin: 15px 0 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  margin: 25px 0 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 25px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-1 .u-image-3 {
  height: 296px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-6 {
  margin: 15px 0 0;
}

.u-section-1 .u-text-7 {
  font-size: 1.5rem;
  margin: 25px 0 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 25px auto 0;
}

.u-section-1 .u-list-2 {
  grid-template-rows: auto;
  margin-top: 25px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-2 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 517px;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-1 .u-image-4 {
  height: 296px;
  margin-top: 0;
  margin-bottom: 0;
  width: 320px;
}

.u-section-1 .u-text-8 {
  margin: 15px 0 0;
}

.u-section-1 .u-text-9 {
  font-size: 1.5rem;
  margin: 25px 0 0;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 25px auto 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 20px 30px;
}

.u-section-1 .u-image-5 {
  height: 296px;
  margin-top: 0;
  margin-bottom: 0;
  width: 320px;
}

.u-section-1 .u-text-10 {
  margin: 15px 0 0;
}

.u-section-1 .u-text-11 {
  font-size: 1.5rem;
  margin: 25px 0 0;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 25px auto 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 20px 30px;
}

.u-section-1 .u-image-6 {
  height: 296px;
  margin-top: 0;
  margin-bottom: 0;
  width: 320px;
}

.u-section-1 .u-text-12 {
  margin: 15px 0 0;
}

.u-section-1 .u-text-13 {
  font-size: 1.5rem;
  margin: 25px 0 0;
}

.u-section-1 .u-btn-6 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 25px auto 0;
}

.u-section-1 .u-image-7 {
  height: 296px;
  width: 320px;
  margin: 9px auto 0 30px;
}

.u-section-1 .u-text-14 {
  margin: -14px 874px 0 114px;
}

.u-section-1 .u-text-15 {
  font-size: 1.5rem;
  margin: 25px 889px 0 129px;
}

.u-section-1 .u-btn-7 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 25px auto 60px 106px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1600px;
  }

  .u-section-1 .u-list-1 {
    min-height: 426px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 426px;
  }

  .u-section-1 .u-image-1 {
    height: 234px;
  }

  .u-section-1 .u-image-2 {
    height: 234px;
  }

  .u-section-1 .u-image-3 {
    height: 234px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 426px;
  }

  .u-section-1 .u-image-5 {
    height: 234px;
  }

  .u-section-1 .u-image-6 {
    height: 234px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 774px;
    margin-left: 14px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 789px;
    margin-left: 29px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2153px;
  }

  .u-section-1 .u-list-1 {
    min-height: 979px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 979px;
  }

  .u-section-1 .u-image-1 {
    height: 277px;
  }

  .u-section-1 .u-image-2 {
    height: 277px;
  }

  .u-section-1 .u-image-3 {
    height: 277px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: repeat(2, 50%);
    min-height: 979px;
  }

  .u-section-1 .u-image-5 {
    height: 277px;
  }

  .u-section-1 .u-image-6 {
    height: 277px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 568px;
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-right: 598px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 480px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    height: 480px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    height: 480px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-5 {
    height: 480px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-6 {
    height: 480px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 388px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 418px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    height: 295px;
  }

  .u-section-1 .u-image-2 {
    height: 295px;
  }

  .u-section-1 .u-image-3 {
    height: 295px;
  }

  .u-section-1 .u-image-5 {
    height: 295px;
  }

  .u-section-1 .u-image-6 {
    height: 295px;
  }

  .u-section-1 .u-image-7 {
    margin-left: 20px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 188px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 218px;
  }
}